trigger:
- main

pool:
  name: gwl-devops-agent-pool

steps:
- script: curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
  displayName: 'Install the Azure CLI'

- task: AzureCLI@2
  inputs:
    azureSubscription: '$(Azure_Subscription)'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 'az webapp up -n $(App_Name) --os-type Linux --resource-group $(Resource_Group_Name) --location $(Location) --sku B1 --runtime "python|3.6"'
    workingDirectory: 'src/'
  displayName: "Deploy application to Azure"
